<div class="jumbotron">
  <center>
    <h1>Bass Scraper</h1><hr />
    <!-- <form action="/scrape" method="GET">
      <button>get articles</button></form> -->
  </center>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 article">

              {{this.content}}

              {{#if this.favorite}}
              <form action="unfavorite/{{this._id}}?_method=PUT" method="POST">
                <input type="hidden" name="favorite" value="false">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
              </form>
              {{else}}
              <form action="favorite/{{this._id}}?_method=PUT" method="POST">
                <input type="hidden" name="favorite" value="true">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></button>
              </form>
            {{/if}}
      </ul>
    </div>
  </div>
</div>
